        *{
            font-family: 'ƒƒCƒŠƒI','Hiragino Kaku Gothic ProN',Meiryo,sans-serif
        }

        .dashboard {
            position: relative;
            width: 100%;
            height: 700px;
        }
        .ig-layout-item.ui-state-hover{
          background: #CCC !important;
        }
        .box {
            background-color: #fff;
            border: 1px solid #888;
            color: grey;
        }
        .legendBox{
            float: left;
        }

        .box-title {
            color:#fff;
            background-color:#888;
            font-size: 16px;
            padding: 6px 0 10px 10px;
        }

        
        .box-body-big-text {
            font-size: 50px;
            text-align: center;
            color: #f60;
        }

       @media all and (max-width: 910px) {
            .box-title {
                font-size: 14px;
            }

            .box-body-big-text {
                font-size: 49px;
                margin-top: 24px;
            }
        }

        @media all and (max-width: 740px) {
            .box-title {
                font-size: 12px;
            }
            .box-body-big-text {
                font-size: 38px;
                margin-top: 34px;
            }
        }

        @media all and (max-width: 570px) {
            .box-title {
                font-size: 10px;
            }
            .box-body-big-text {
                font-size: 20px;
                margin-top: 47px;
            }
        }

        @media all and (max-width: 360px) {
            .box-title {
                font-size: 10px;
            }
            .box-body-big-text {
                font-size: 17px;
                margin-top: 45px;
            }
        }

        /* splitter cutome design */
        .ui-igtilemanager.ui-igsplitter .ui-igsplitter-splitbar-vertical,
        .ui-igsplitter-splitbar-vertical {
            width: 6px;
        }

        .ui-igtilemanager.ui-igsplitter .ui-igsplitter-collapse-single-button,
        .ui-igsplitter-collapse-single-button {
            z-index: 1;
            width: 25px;
            height: 25px;
            border: 1px solid #bcbcbc;
            border-radius: 20px;
            margin-left: -11px;
        }

        /* igDataChart tooltip */
        .ui-chart-pointer-tooltip-container {
            z-index: 1;
        }
        /* igDataChart legend */
        tr.ui-chart-legend-item {
            font-size: 9px;
        }

        /* igDataGrid ‰üs‚µ‚È‚¢ */
        .ui-iggrid-tablebody>tr>td {
            white-space: nowrap;
            text-overflow: ellipsis;
        }
